<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}index{% endblock %}</title>
    {% block css_js %}
        {% load static %}

        <script src="{% static 'lib/jquery-3.3.1.min.js' %}"></script>

        <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">

        <script src="{% static 'lib/toastr/toastr.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'lib/toastr/toastr.min.css' %}">

        <script src="{% static 'lib/viewerjs/viewer.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'lib/viewerjs/viewer.min.css' %}">

        <link rel="stylesheet" href="{% static 'base/base.css' %}">

        <style>
            * {
                border: 1px solid red;
            }

            #main, #content, #foot {
                width: 1300px;
                margin: 0 auto;
            }

            #foot {
                height: 50px;
            }
        </style>

        <script>

        </script>

    {% endblock %}
</head>
<body>

<div id="main">
    <div id="navigation">
        {% block navigation %}
            {% include 'base/navigation.html' %}
        {% endblock %}
    </div>

    <div id="head">
        {% block head %}

        {% endblock %}
    </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
    <div id="foot">
        {% block foot %}
            {% include 'base/site_info.html' %}
        {% endblock %}
    </div>

</div>

</body>
</html>