<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}index{% endblock %}</title>
    {% block css_js %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'lib/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock %}
</head>
<body>

{% block header %}
{% endblock %}

{% block content %}
    <h1>index page</h1>
{% endblock %}

{% block  footer %}
{% endblock %}

{% include 'base/site_info.html' %}

</body>
</html>