{% extends 'base/base.html' %}

{% block title %}Wallpaper Index{% endblock %}

{% block css_js %}
    {% load static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'home/index.css' %}">
{% endblock %}


{% block content %}

    <div id="carousel-image" class="carousel slide container">
        <ol class="carousel-indicators">
            {% for img_path in carousel_images %}
                {% if forloop.first %}
                    <li data-target="#carousel-image" data-slide-to="{{ forloop.counter }}" class="active"></li>
                {% else %}
                    <li data-target="#carousel-image" data-slide-to="{{ forloop.counter }}"></li>
                {% endif %}
            {% endfor %}
        </ol>

        <div class="carousel-inner">
            {% for image in carousel_images %}
                {% if forloop.first %}
                    <div class="item active">
                        <img class="d-block w-100" src="{{ image.url }}">
                        <div class="carousel-caption">{{ image.url }}</div>
                    </div>
                {% else %}
                    <div class="item">
                        <img class="d-block w-100" src="{{ image.url }}">
                        <div class="carousel-caption">{{ image.url }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#carousel-image" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">上一个</span>
        </a>
        <a class="right carousel-control" href="#carousel-image" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">下一个</span>
        </a>
    </div>

    <h3>热门图片</h3>

    <div id="hot-image">
        <div class="row">
            {% for image in hot_images %}
                <div class="col-sm-6 col-md-3">
{#                    <a href="{% url 'image:detail' image.id %}" class="thumbnail">#}
                    <a href="{% url 'image:detail' 2 %}" class="thumbnail">
                        <img src="{{ image.url }}" alt="{{ image.url }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <h3>用户推荐的图片</h3>

    <div id="recommend-image">
        {% if recommend_images %}
            <div class="row">
                {% for image in recommend_images %}
                    <div class="col-sm-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ image.url }}" alt="{{ image.url }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            登陆
        {% endif %}

    </div>

    {#<script>#}
    {#    var xlm_wid = '12688';#}
    {#    var xlm_url = 'https://www.xianliao.me/';#}
    {#</script>#}
    {#<script type='text/javascript' charset='UTF-8' src='https://www.xianliao.me/embed.js'></script>#}

{% endblock %}
