{% extends 'base/base.html' %}

{% block title %}Wallpaper Index{% endblock %}

{% block css_js %}
    {% load static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'home/index.css' %}">
    <style>
        .image-detail-info {
            height: 25px;
            width: 289px;
            position: relative;
            left: 20px;
            bottom: 20px;
            overflow: hidden;
            text-align: center
        }
    </style>

    <script>
        var hot_image = null;
        var recommend_image = null;

        function view_image(element_id) {
            if (element_id == "hot-image-view") {
                if (hot_image == null) {
                    var viewer = new Viewer(document.getElementById(element_id), {
                        url: 'data-original'
                    });
                    hot_image = viewer;
                    viewer.show();
                } else {
                    hot_image.show();
                }
            }
            if (element_id == "recommend-image-view") {
                if (recommend_image == null) {
                    var viewer = new Viewer(document.getElementById(element_id), {
                        url: 'data-original'
                    });
                    recommend_image = viewer;
                    viewer.show();
                } else {
                    recommend_image.show();
                }
            }
        };


        $(document).keydown(function (event) {
            {#toastr.info(event.keyCode);#}
            if (event.keyCode == 76) {
                {#toastr.info('L love');#}
                var image_id = $(".viewer-move").attr("alt").split(' ')[0];
                if ('{{ user.is_authenticated }}' == 'True') {
                    $.ajax({
                        type: "post",
                        url: "{% url 'user:add_favorite' %}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            "image_id": image_id,
                            "image_id": 2,
                        },
                        success: function (data) {
                            if (data.status == 'success') {
                                toastr.info(data.message);
                            } else {
                                toastr.error(data.message);
                            }
                        }
                    });
                } else {
                    toastr.error('请先登陆！');
                }
            }
            if (event.keyCode == 68) {
                {#toastr.info('D detail');#}
                var image_id = $(".viewer-move").attr("alt").split(' ')[0];
                window.location.href = "{% url 'image:detail' 2 %}";
            }
        });


    </script>

{% endblock %}


{% block content %}

    <div id="carousel-image" class="carousel slide container">
        <ol class="carousel-indicators">
            {% for image in carousel_images %}
                {% if forloop.first %}
                    <li data-target="#carousel-image" data-slide-to="{{ forloop.counter }}" class="active"></li>
                {% else %}
                    <li data-target="#carousel-image" data-slide-to="{{ forloop.counter }}"></li>
                {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for image in carousel_images %}
                {% if forloop.first %}
                    <div class="item active">
                        <a href="{% url 'image:detail' image.id %}">
                            <img class="d-block w-100" src="{{ image.url }}">
                        </a>
                        <div class="carousel-caption">{{ image.url }}</div>
                    </div>
                {% else %}
                    <div class="item">
                        <img class="d-block w-100" src="{{ image.url }}">
                        <div class="carousel-caption">{{ image.url }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#carousel-image" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">上一个</span>
        </a>
        <a class="right carousel-control" href="#carousel-image" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">下一个</span>
        </a>
    </div>


    <div style="width: 300px;height: 40px; margin:9px auto;">
        <span class="btn btn-default"
              style="float:left; vertical-align:middle;  height:38px; font-size: 20px;">热门图片</span>
        <button class="btn btn-default" style="float:right; vertical-align:middle;  height:38px;"
                onclick="view_image('hot-image-view')">一键浏览
        </button>
    </div>
    <div style="clear:both;"></div>


    <div id="hot-image">
        <ul id="hot-image-view" style="display: none">
            {% for image in hot_images %}
                <li><img data-original="{{ image.url }}" alt="{{ image.id }} {{ image.url }}"></li>
            {% endfor %}
        </ul>

        <div class="row">
            {% for image in hot_images %}
                <div style="float: left; width: 325px;height: 230px; margin-left: 7px; padding: 0px">
                    <a href="{% url 'image:detail' image.id %}" class="thumbnail">
                        <img src="{{ image.url_thumb }}" alt="{{ image.url }}"
                             class="img-responsive" style="max-width: 100%; height:auto;">
                    </a>
                    <div class="image-detail-info">
                        {% ifequal image.name 'None' %}
                        {% else %}
                            {{ image.name }}
                        {% endifequal %}
                        {{ image.width }}x{{ image.height }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div style="width: 300px;height: 40px; margin:9px auto;" class="view-recommend">
        <span class="btn btn-default"
              style="float:left; vertical-align:middle;  height:38px; font-size: 20px;">推荐图片</span>
        <button class="btn btn-default" style="float:right; vertical-align:middle;  height:38px;"
                onclick="view_image('recommend-image-view')">一键浏览
        </button>
    </div>
    <div style="clear:both;"></div>


    <div id="recommend-image">
        <ul id="recommend-image-view" style="display: none">
            {% for image in recommend_images %}
                <li><img data-original="{{ image.url }}" alt="{{ image.url }}"></li>
            {% endfor %}
        </ul>
        {% if recommend_images %}
            <div class="row">
                {% for image in recommend_images %}
                    <div style="float: left; width: 325px;height: 230px; margin-left: 7px; padding: 0px">
                        <a href="{% url 'image:detail' image.id %}" class="thumbnail">
                            <img src="{{ image.url_thumb }}" alt="{{ image.url }}"
                                 class="img-responsive" style="max-width: 100%; height:auto;">
                        </a>
                        <div class="image-detail-info">
                            {% ifequal image.name 'None' %}
                            {% else %}
                                {{ image.name }}
                            {% endifequal %}
                            {{ image.width }}x{{ image.height }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3 style="text-align: center">请先登陆获取更多推荐</h3>
        {% endif %}
    </div>

    <script>
        var xlm_wid = '12688';
        var xlm_url = 'https://www.xianliao.me/';
    </script>
    <script type='text/javascript' charset='UTF-8' src='https://www.xianliao.me/embed.js'></script>

{% endblock %}
