{% extends 'base/base.html' %}

{% block title %}随机图片浏览 {% endblock %}

{% block css_js %}
    {% load static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'lib/photopile/photopile.css' %}">
    <style>
        .photopile-wrapper {
            width: 1200px;
            margin: 60px auto;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(document).keydown(function (event) {
                if (event.keyCode == 68) { // D detail
                    var image_name = $("#photopile-active-image")[0].src.split('/')
                    var image_id = image_name[image_name.length - 1].split('.')[0]
                    toastr.info(image_id)
                    var deteil_link = 'http://127.0.0.1:7913/image/detail/' + image_id
                    if (deteil_link != 'http://127.0.0.1:7913/image/detail/') {
                        window.location.href = deteil_link;
                    }
                }
            });
        });

    </script>
{% endblock %}


{% block content %}
    <div class="photopile-wrapper">
        <ul class="photopile">
            {% for item in images %}
                <li>
                    <a href="{{ item.url }}">
                        <img src="{{ item.url_thumb }}" alt="{{ item.url }}"
                             style="width:{{ item.width }}px; height:{{ item.height }}px"/>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="{% static 'lib/photopile/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'lib/photopile/jquery-ui.min.js' %}"></script>
    <script src="{% static 'lib/photopile/photopile.js' %}"></script>
{% endblock %}






