{% extends 'base/base.html' %}

{% block css_js %}
    {% load static %}
    {{ block.super }}

    <style>
        .tags, .tags-page {
            width: 150px;
            float: left;
        }

        .images {
            width: 1100px;
            float: right;
        }

        .tags-page ul {
            margin: 0;
            padding: 0;
        }

        .tags-page li {
            float: left;
            list-style: none;
        }
    </style>
{% endblock %}

{% block title %}标签浏览{% endblock %}

{% block content %}

    <div class="tags">
        <div class="tags-item">
            <ul class="list-group">
                {% for item in tags.object_list %}
                    {% ifequal tag_page 1 %}
                        <li class="list-group-item">
                            <a href="{% url 'home:tag' item.id %}">{{ item.name }}
                                <span class="badge">{{ item.count }}</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="list-group-item">
                            <a href="{% url 'home:tag' item.id %}?tag_page={{ tag_page }}">{{ item.name }}
                                <span class="badge">{{ item.count }}</span>
                            </a>
                        </li>
                    {% endifequal %}

                {% endfor %}
            </ul>
        </div>
        <div class="tags-page" style="height: 30px;">
            <ul>
                {% for page in tags.pages %}
                    {% if page %}
                        {% ifequal page tags.number %}
                            <li><a href="?tag_page={{ page }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?tag_page={{ page }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>




    <div class="images">

        <div class="row">
            {% for item in images.object_list %}
                <div style="float: left; width: 282px;height: 175px; margin-left: 0px; padding: 0px">
                    <a href="{% url 'image:detail' item.id %}" class="thumbnail">
                        <img src="{{ item.url_thumb }}" alt="{{ item.url }}">
                        {#<img src="{{ MEDIA_URL }}image/6.jpg" alt="">#}
                    </a>
                </div>
            {% endfor %}
        </div>


        <div style="margin-left: 60px; margin-top: 40px;">
            <nav>
                <ul class="pagination">
                    {% if images.has_previous %}
                        <li class="pager-prev">
                            <a href="?tag_page={{ tag_page }}&image_page={{ image_page|add:-1 }}">上一页</a>
                        </li>
                    {% else %}
                        <li class="pager-prev disabled">
                            <a href="#">上一页</a>
                        </li>
                    {% endif %}

                    {% for page in images.pages %}
                        {% if page %}
                            {% ifequal page images.number %}
                                <li class="active">
                                    <a href="?tag_page={{ tag_page }}&image_page={{ page }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="?tag_page={{ tag_page }}&image_page={{ page }}">{{ page }}</a>
                                </li>
                            {% endifequal %}
                        {% endif %}
                    {% endfor %}

                    {% if images.has_next %}
                        <li class="pager-prev">
                            <a href="?tag_page={{ tag_page }}&image_page={{ image_page|add:1 }}">下一页</a>
                        </li>
                    {% else %}
                        <li class="pager-prev disabled">
                            <a href="#">下一页</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <div style="clear: both;"></div>

{% endblock %}
