{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'lib/photopile/photopile.css' %}">

    <style>
        .photopile-wrapper {
            width: 1300px;
            height: 900px;
            margin: 0 auto;
            margin-top: 100px;
        }

        ul.photopile li a img {
            border: 0 none;
        }
    </style>


</head>
<body>


<div class="photopile-wrapper">
    <ul class="photopile">
        {% for item in test_images %}
            <li>
                <a href="{{ item.big }}">
                    <img src="{{ item.small }}" alt="" width="{{ item.width }}" height="{{ item.height }}"/>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<script src="{% static 'lib/photopile/jquery-1.8.3.min.js' %}"></script>
<script src="{% static 'lib/photopile/jquery-ui.min.js' %}"></script>
<script src="{% static 'lib/photopile/photopile.js' %}"></script>

</body>
</html>


