{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>

    <script src="{% static 'lib/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'lib/toastr/toastr.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/toastr/toastr.min.css' %}">

    <script>
        $(document).ready(function () {
            $("#btn").click(function () {
                toastr.info("rwerwe");
            });
        });
    </script>

<script>
    function view_images() {
        var file = document.getElementById("file").files;
        var result = document.getElementById("result");
        for (i = 0; i < file.length; i++) {
            var reader = new FileReader();
            reader.readAsDataURL(file[i]);
            reader.onload = function (e) {
                result.innerHTML = result.innerHTML + '<img width="150px" src="' + this.result + '" alt="" />';
            }
        }
    }
</script>

</head>
<body>

 <div style="width:400px;margin: 0 auto;">
        <form method="post" action="{% url 'user:upload' %}" enctype="multipart/form-data">
            {#{% csrf_token %}#}
            <input id="file" type="file" name="image_file" accept="image/*" multiple="multiple">
            <button type="button" onclick="view_images()">读取图像</button>
            <input type="submit" value="提交"/>
        </form>
    </div>
    <div id="result">

    </div>

<form method="post" action="{% url 'user:release' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="uploadfile" accept="image/*" multiple="multiple"><br/><br/><br/>
    <input type="submit" value="提交"/>
</form>
<br/>

{% for file_url in all_file_url %}
    <img src={{ file_url }} width="100px"/>
{% endfor %}





<button id="btn">test-toastr</button>


<h3>{{ res }}</h3>

</body>
</html>


