{% extends 'base/base.html' %}


{% block title %}用户充值{% endblock %}

{% block css_js %}
    {% load static %}
    {{ block.super }}
{% endblock %}


{% block content %}
    {{ user.email }} <br>
    {{ user.date_joined }} <br>
    {{ user.username }} <br>
    {{ user.nickname }} <br>
    {{ user.image }} <br>
    {{ user.sex }} <br>
    {{ user.birthday }} <br>
    {{ user.address }} <br>
    {{ user.phone }} <br>
    {{ user.information }} <br>
    {{ user.last_login }} <br>
    {{ user.type }} <br>
    {{ user.coin }} <br>
{% endblock %}



{% block footer %}
{% endblock %}
