{% extends 'base/base.html' %}
{% load static %}


{% block css_js %}
    {{ block.super }}
{% endblock %}


{% block content %}
    <div class="docs-galley">
        <ul id="image">
            <li><img data-original="{{ MEDIA_URL }}image/6.jpg" alt="错纳湖"></li>
            <li><img data-original="{{ MEDIA_URL }}image/6.jpg" alt="青藏高原"></li>
            <li><img data-original="{{ MEDIA_URL }}image/6.jpg" alt="大昭寺"></li>
            <li><img data-original="{{ MEDIA_URL }}image/6.jpg" alt="布达拉宫1"></li>
            <li><img data-original="{{ MEDIA_URL }}image/6.jpg" alt="布达拉宫2"></li>
            <li><img data-original="{{ MEDIA_URL }}image/6.jpg" alt="布达拉宫3"></li>
            <li><img data-original="{{ MEDIA_URL }}image/6.jpg" alt="拉萨河"></li>
            <li><img data-original="{{ MEDIA_URL }}image/6.jpg" alt="纳木措1"></li>
            <li><img data-original="{{ MEDIA_URL }}image/6.jpg" alt="纳木措2"></li>

        </ul>
    </div>

    <button id="btn1">qqqqqq</button>


    <script>

        document.getElementById('btn1').onclick = function () {
            var viewer = new Viewer(document.getElementById('image'), {
                url: 'data-original',
                navbar: false
                {#viewed: function () {#}
                {#    viewer.zoomTo(1);#}
                {#    toastr.info('viewd....');#}
                {#\}#}
            });
            viewer.show();
        }


        {#var viewer = new Viewer(document.getElementById('image'), {#}
        {#    viewed: function () {#}
        {#        viewer.zoomTo(1);#}
        {#        toastr.info('viewd....');#}
        {#    });#}
    </script>


{% endblock %}