<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Home Index</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'lib/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <style>
        .course {
            width: 1000px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<div class="course">

    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            {% for img_path in all_img_path %}
                {% if forloop.first %}
                    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}" class="active"></li>
                {% else %}
                    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"></li>
                {% endif %}
            {% endfor %}

        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            {% for img_path in all_img_path %}
                {% if forloop.first %}
                    <div class="item active">
                        <img src="{{ img_path }}" alt="First slide">
                    </div>
                {% else %}
                    <div class="item">
                        <img src="{{ img_path }}" alt="Second slide">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev">&lsaquo;
        </a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;
        </a>
    </div>

</div>

<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">Django Auth Example</a></h1>
            {% if user.is_authenticated %}
                <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a></p>
                <button class="btn btn-default"><a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a>
                </button>
                <button class="btn btn-default"><a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a>
                </button>
            {% else %}
                <p>你还没有登录，请
                    <button class="btn btn-default">
                        <a href="{% url 'login' %}?next_page={{ request.path }}">登录</a>
                    </button>
                    或者
                    <button class="btn btn-default">
                        <a href="{% url 'user:register' %}?next_page={{ request.path }}">注册</a>
                    </button>
                </p>
            {% endif %}
        </div>
    </div>
</div>

{#<script>#}
{#    var xlm_wid = '12688';#}
{#    var xlm_url = 'https://www.xianliao.me/';#}
{#</script>#}
{#<script type='text/javascript' charset='UTF-8' src='https://www.xianliao.me/embed.js'></script>#}

</body>
</html>





